In [3]:
#Importing libraries 


import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [8]:
all_data = pd.read_csv('https://raw.githubusercontent.com/ardahk/amex/main/cleaning/all_data.csv')
all_orders = pd.read_csv('https://raw.githubusercontent.com/ardahk/amex/main/cleaning/all_orders.csv')

In [12]:
cancelled_orders = all_orders[all_orders['status_item'] == 'Cancelled'].copy()
returned_orders = all_orders[all_orders['status_item'] == 'Returned'].copy()
complete_orders = all_orders[all_orders['status_item'].isin(['Complete', 'Shipped'])].copy()
#complete_orders.head()

,id_orderproducts,order_id,user_id,product_id,inventory_item_id,status_item,created_at_item,shipped_at_item,delivered_at_item,returned_at_item,...,order_id_items,user_id_items,product_id_items,inventory_item_id_items,status,created_at,shipped_at,delivered_at,returned_at,sale_price_items
1,40993,28204,22551,14235,110590,Complete,2023-03-14 03:47:21+00:00,2023-03-15 22:57:00+00:00,2023-03-18 01:08:00+00:00,NaN,...,76203.0,60802.0,678.0,298421.0,Cancelled,2023-04-29 07:06:36+00:00,NaN,NaN,NaN,16.950001
2,51224,35223,28215,14235,138236,Complete,2023-12-05 13:25:30+00:00,2023-12-06 01:20:00+00:00,2023-12-10 10:04:00+00:00,NaN,...,95158.0,75922.0,20152.0,373119.0,Complete,2022-05-22 12:10:29+00:00,2022-05-22 01:41:00+00:00,2022-05-25 18:26:00+00:00,NaN,32.990002
3,36717,25278,20165,14235,99072,Shipped,2023-12-22 20:48:19+00:00,2023-12-24 16:44:00+00:00,NaN,NaN,...,68193.0,54488.0,22522.0,267317.0,Cancelled,2024-01-14 13:33:52+00:00,NaN,NaN,NaN,16.080000
4,131061,90241,71954,14235,353798,Shipped,2022-06-19 16:57:59+00:00,2022-06-19 19:29:00+00:00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,154022,106052,84693,14235,415780,Shipped,2023-09-19 09:13:08+00:00,2023-09-16 09:24:00+00:00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
top_selling_products = complete_orders.groupby(['product_id]

,id_orderproducts,order_id,user_id,product_id,inventory_item_id,status_item,created_at_item,shipped_at_item,delivered_at_item,returned_at_item,...,order_id_items,user_id_items,product_id_items,inventory_item_id_items,status,created_at,shipped_at,delivered_at,returned_at,sale_price_items
1,40993,28204,22551,14235,110590,Complete,2023-03-14 03:47:21+00:00,2023-03-15 22:57:00+00:00,2023-03-18 01:08:00+00:00,NaN,...,76203.0,60802.0,678.0,298421.0,Cancelled,2023-04-29 07:06:36+00:00,NaN,NaN,NaN,16.950001
2,51224,35223,28215,14235,138236,Complete,2023-12-05 13:25:30+00:00,2023-12-06 01:20:00+00:00,2023-12-10 10:04:00+00:00,NaN,...,95158.0,75922.0,20152.0,373119.0,Complete,2022-05-22 12:10:29+00:00,2022-05-22 01:41:00+00:00,2022-05-25 18:26:00+00:00,NaN,32.990002
3,36717,25278,20165,14235,99072,Shipped,2023-12-22 20:48:19+00:00,2023-12-24 16:44:00+00:00,NaN,NaN,...,68193.0,54488.0,22522.0,267317.0,Cancelled,2024-01-14 13:33:52+00:00,NaN,NaN,NaN,16.080000
4,131061,90241,71954,14235,353798,Shipped,2022-06-19 16:57:59+00:00,2022-06-19 19:29:00+00:00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,154022,106052,84693,14235,415780,Shipped,2023-09-19 09:13:08+00:00,2023-09-16 09:24:00+00:00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN